name: Build Android APK 

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - uses: android-actions/setup-android@v3

      - name: Build APK
        working-directory: android.apk
        run: |
          chmod +x gradlew || true
          ./gradlew assembleDebug

      - uses: actions/upload-artifact@v4
        with:
          name: APK
          path: android.apk/app/build/outputs/apk/debug/*.apk
          
